.background{
	-fx-background-color: rgb(59, 59, 59);
}

.header{
	-fx-background-color: rgb(241, 234, 234);
}

.image-button{
    -fx-cursor: hand;
}

.image-button: hover{
    -fx-scale-x: 1.19;
    -fx-scale-y: 1.19;
}

.image-button: pressed{
    -fx-opacity: 0.78;
}

.text-field-parent{
	-fx-background-radius: 13px;
	-fx-border-radius: 13px;
	-fx-border-width: 1.5;
	-fx-background-color: rgba(105, 96, 96, 0.75);
}

.text-field-parent: hover{

}

.tile{
	-fx-background-radius: 13px;
	-fx-background-color: rgba(19, 19, 19, 0.75)
}

.scroll-pane{
    -fx-background-color: transparent;
    -fx-background-radius: 13px;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 13px;
}

.scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-pane > .corner {
     -fx-background-color: black;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal .track{
    -fx-background-color: black;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.menu-bar {
    -fx-background-color: rgba(217, 217, 217, 0.75);
    -fx-border-width: 2.0;
}

.table-view{
   -fx-background-color: transparent;
   -fx-border-color: white;
   -fx-border-radius: 13px;
   -fx-border-width: 1.5;
}

.table-view:focused{
    -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color:  #000a23;
}

.table-view .column-header-background .label{
    -fx-background-color: #000a23;
    -fx-background-radius: 13px;
    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
}

.table-view .column-header {
    -fx-background-color: #000a23;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #000a23;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #000a23;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #000a23;
    -fx-border-color: white;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-text-fill: blue;
}

.table-view > .virtual-flow > .scroll-bar: .vertical{
    -fx-background-color: #000a23;
}

.table-view > .virtual-flow > .scroll-bar:vertical > .track{
    -fx-background-color: #000a23;
    -fx-border-color: #000a23;
    -fx-background-radius: 0em;
}

.table-view > .virtual-flow > .scroll-bar:vertical > .thumb{
    -fx-background-color: white;
    -fx-background-radius: 5em;

}

.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: #000a23;
}


.table-view > .virtual-flow > .scroll-bar > .increment-button{
    -fx-background-color: #000a23;
    -fx-border-color: #000a23;
}

.table-view > .virtual-flow > .scroll-bar > .decrement-button {
	-fx-background-color: #000a23;
    -fx-border-color: #000a23;
}

.menu-button-custom{
    -fx-background-color: rgb(217, 217, 217);
    -fx-background-radius: 13px;
}

.button-next{
    -fx-cursor: hand;
    -fx-background-color: rgba(71, 6, 151);
	-fx-text-fill: white;
	-fx-border-radius: 13px;
    -fx-border-width: 1.5;
	-fx-background-radius: 13px;
}

.button-next: hover{
    -fx-border-color: #5B59C5;
}

.text-field-parent{
	-fx-background-radius: 13px;
	-fx-border-radius: 13px;
	-fx-border-width: 1.5;
	-fx-background-color: rgba(105, 96, 96, 0.75);
}

.text-field-parent: hover{
    -fx-border-color: #4B66F1;
}

.text-field{
	-fx-text-fill: white;
	-fx-focus-traversable: false;
	-fx-background-radius: 13px;
	-fx-background-color: transparent;
}
